body {
    background-color: rgb(241, 224, 194);
}

#controls {
    margin-bottom: 20px;
    text-align: center;
}

#gameContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    border: 2px solid black;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
}

img {
    padding-top: 7px;
    width: 100%;
    height: 100%;
}

#idok {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    margin-bottom: 20px;
}

.player-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player1Time,
#player2Time {
    width: auto;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.player-block img {
    width: 50px;
    height: auto;
    margin-top: 5px;
}


#doboz {
    display: flex;
    justify-content: center;
}

#jatekosTurn p {
    margin-top: 20px;
    justify-content: center;
    display: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.jatekos-2-jon #piros {
    display: block;
    color: red;
}

.jatekos-1-jon #kek {
    color: blue;
    display: block;
}
